<ion-toolbar class="headerclase" color="light">
    <ion-buttons slot="start">
        <ion-menu-button class="sidemenubutton" autoHide="false"></ion-menu-button>
    
      </ion-buttons>
    <ion-buttons class="btnknowme" slot="secondary">
        <ion-button class="btnknow">
          Conoceme
        </ion-button>
      </ion-buttons>
    <ion-buttons class="btnknowme" slot="secondary">
      <ion-button class="btncon">
        Estudios
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
        <ion-button class="btnfill">
            <ion-icon slot="start" name="contact"></ion-icon>
            Contactame!
          </ion-button>
    </ion-buttons>
    <a class="circulo" href="/" title="Uri Alcantar - Software Developer">UA</a>
  </ion-toolbar>

<!--

-->


<ion-content>


</ion-content>
